html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', Sans-Serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main{
  display:flex;
  align-self: center;
  width: 90%;
  padding-bottom: 2em;
}

@media only screen and (min-width: 1024px) {

  body{
    flex-direction: row;
  }
  body > nav{
    height:120px;
    background-color: #4056A1;
  }
  
 main.container{
   width: 50%;
   align-items: center;
   justify-content: center;
   margin-top: 120px;
   margin-left: 3em;
 }
  body > header.main{
    margin-top: 120px;
   width: 30%; 
  }
  
}

@media only screen and (min-width: 1400px) {
  body{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}