nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color:#d6bc56;
  color: #FFFF;
  padding: 1.5em;
}

span{
  font-family: 'Bungee';
}
#toggle{
  font-family: 'Source Sans Pro';
  font-size: 1em;
  background-color: Transparent;
  border: none;
}
div.toggle-div{
display: flex;
flex-direction: column;
}
.fa{
color: red;
align-self: center;
}

div.toggle-div > button:hover .fa{
  animation-name: toggle;
  animation-duration: 4s;
  position: relative;
}

@keyframes toggle {
  0%{top:-5px; filter:saturate(1)}

  50%{top:10px; filter:saturate(0)}

  100%{top:-5px; filter:saturate(1)}
}