.tweets-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
article.tweet{
  margin-bottom: 3em;
  display: flex;
  border: 0.2rem solid rgb(90, 90, 90);
  flex-direction: column;
}

article.tweet > header{
  padding: 0.5em;
 font-family: 'Source Sans Pro';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.user{
  display: flex;
flex-direction: row;
}

div.signature {
padding: 0.5em;
}
.user-name {
  display: none;
}
.tweets-container:hover .user-name{
  display: flex;
  padding: 1em;
color: rgb(135, 146, 161);
}

div.signature > img{
  width: 5em;
  }

div.content{
  display: flex;
  align-self: center;
  width: 95%;
  padding-left: 0.5em;
  padding-bottom: 1em;
  border-bottom: 0.2rem solid rgb(90, 90, 90);
}

article > header{
  height: 3.5em;

}
article >header h5 {
  margin-left: 1em;
  align-self: center;
}

article > footer {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 95%;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  font-size: medium;
  justify-content: space-between;
}


.footer-images > img {
  width: 1em;
  padding: 0.1em;
  
}

.footer-images > img {
  width: 1em;
  padding: 0.1em;
  
}
div.footer-images {
  display: flex;
  align-self: center;
}

article.tweet:hover{
 
 box-shadow: 10px 10px rgb(135, 146, 161);
 font-weight: 600;

}



